/* Default Styles*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
}

.presentation {
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    background-color: #f5f5f5;
    line-height: 1;
    display: flex;
    padding: 3% 20%;
    align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
}

h5.title {
    font-size: 18px;
    padding: 20px;
    margin: 0px;
    color: #000000;
    letter-spacing: 1px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

ul {
    list-style: none;
}

p {
    color: #333333;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    font-family: 'Lexend Deca', sans-serif;
}

/* Border Bottom Style */
.border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

/* Padding Classes */
.padding-25 {
    padding: 25px !important;
}

.padding-20 {
    padding: 20px !important;
}

/* Left Side Bar */
.inner-left {
    background: #fff;
    flex: 1 1 15%;
    margin-right: 15px;
}

/* Avatar */
.inner-left img {
    max-width: 100%;
    height: auto;
}

/* Personal Details */
.inner-left .personal-info {
    width: 90%;
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.inner-left .personal-info li p {
    display: flex;
    align-items: center;
    margin: 0px;
    line-height: 30px;
}

/* Detail Icon Styles */
.detail-icon {
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15%;
    margin-top: 2%;
}

#detail-name {
    background: url('./icons/details-section/id-card.png') center / cover no-repeat;
    border: rgb(238, 234, 4);
}

#detail-age {
    background: url('./icons/details-section/walking-stick.png') center / cover no-repeat;
    border: none;
}

#detail-location {
    background: url('./icons/details-section/worldwide.png') center / cover no-repeat;
}

#detail-degree {
    background: url('./icons/details-section/scholarship.png') center / cover no-repeat;
    border: rgb(238, 234, 4);
}

#detail-cell {
    background: url('./icons/details-section/phone.png') center / cover no-repeat;
    border: rgb(0, 128, 0);
}

#detail-email {
    background: url('./icons/details-section/arroba.png') center / cover no-repeat;
    border: none;
}

/* Social Links */
.social-links {
    max-width: 100%;
    text-align: center;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 48px;
    margin-right: 8px;
}

/* Social Icons */
#fb {
    background-image: url('./icons/social-section/facebook.png');
    background-size: contain;
}

#tw {
    background-image: url('./icons/social-section/twitter.png');
    background-size: contain;
}

#gth {
    background-image: url('./icons/social-section/github.png');
    background-size: contain;
}

#li {
    background-image: url('./icons/social-section/linkedin.png');
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: center;
    border-radius: 50%;
    border-color: rgb(0, 89, 254);
}

/* Where Am I */
.where-am-i {
    max-width: 100%;
}

/* Google Map */
.mapouter {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100%;
}

/* -- Left Side End -- */

/* Right Main Container */
.inner-right {
    background: #fff;
    flex: 1 1 50%;
}

.inner-right p {
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px
}

/* Bio Section */
.inner-right .bio-section span {
    color: rgb(250, 95, 23);
    font-weight: bold;
}

/* Professional Experience Section */
.inner-right .professional-ex-section ul li {
    margin-top: 20px;
    list-style: circle inside none;
}

.inner-right .professional-ex-section span {
    color: rgb(122, 228, 0);
    font-weight: bold;
}

/* CV Paragraph */
.inner-right .professional-ex-section .cv-paragraph {
    display: flex;
    align-items: center;
    margin: 0px;
    line-height: 30px;
}

/* CV Download Icon */
.inner-right .professional-ex-section .cv-paragraph a {
    background: url('./icons/experience-section/job-seeker.png') center / cover no-repeat;
    border: 1px solid rgb(122, 228, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 48px;
    margin-left: 8px;
}

/* Education Section */
.education {
    padding: 60px 0 20px 0;
    position: relative;
}

.education::after {
    background-color: #eaeaea;
    content: " ";
    height: 100%;
    left: 49.9%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}

.education .education-inner {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.education .education-inner .institution {
    float: left;
    font-size: 18px;
    padding-right: 4px;
    position: relative;
    text-align: right;
    width: 46%;
}

.education .education-inner .institution::before {
    background: #ffd42d;
    border: 4px solid #fff;
    border-radius: 50%;
    content: " ";
    height: 20px;
    position: absolute;
    right: -2.7em;
    top: 1px;
    width: 20px;
    background-clip: padding-box;
}
.education .education-inner .institution.color-switch::before {
    background: #7e0000;
}

.education .education-inner .institution span.date {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.education .education-inner .institution h4 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}

.education .education-inner .description {
    margin-left: 46%;
    padding-left: 69px;
    position: relative;
    text-align: left;
    width: 45%;
}

/* Gallery */
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}