/* Default Styles*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.presentation {
    padding: 0;
    background-color: #f5f5f5;
    margin-top: -150px;
}

.container {
    background-color: #f5f5f5;
    line-height: 1;
    display: flex;
    padding: 10%;
    align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
}

h5.title {
    font-size: 18px;
    padding: 20px;
    margin: 0px;
    color: #000000;
    letter-spacing: 1px;
    border-bottom: 1px solid #e6e6e6;
}

ul {
    list-style: none;
}

p {
    color: #333333;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
}

/* Border Bottom Style */
.border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

/* Padding Class Set To 25px */
.padding-25 {
    padding: 25px !important;
}

/* Left Side Bar */
.inner-left {
    background: #fff;
    flex: 0 0 15%;
    margin-right: 15px;
}

.inner-left img {
    max-width: 100%;
    height: auto;
}

.inner-left .personal-info {
    position: relative;
    padding: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.inner-left .personal-info li span {
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

.inner-left .personal-info li p {
    margin: 0px;
    line-height: 30px;
}

.inner-left .personal-info li span {
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

/* Social Links */
.social-links {
    width: 55%;
}

.social-links li {
    display: inline-block;
}

.social-links li a {
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 48px;
    margin-right: 8px;
}

/* Social Icons */
#fb {
    background-image: url('facebook.png');
    background-size: contain;
}

#tw {
    background-image: url('twitter.png');
    background-size: contain;
}

#gth {
    background-image: url('github.png');
    background-size: contain;
}

#li {
    background-image: url('linkedin.png');
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: center;
    border-radius: 50%;
    border-color: rgb(0, 89, 254);
}

/* Right Main Container */
.inner-right {
    background: #fff;
    flex: 1 1 50%;
}